:root {
  --white: #fff;
  --black: #000;
  --orange: #f0702f;
  --gray: #ccc;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
figure,
figcaption,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select,
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: transparent;
}

button:focus-visible {
  box-shadow: 0 0 2px 1px #ccc inset;
}

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: transparent;
}

a:focus-visible {
  box-shadow: 0 0 2px 1px #ccc inset;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

ul,
ol {
  padding: 0;
}

cite {
  display: block;
  font-style: normal;
}

html,
body {
  height: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px;
  background-color: var(--gray);
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 4px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}

html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button {
  display: none;
}

body {
  font-family: "SuisseIntl", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--black);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--gray);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 10px;
}

body *::-moz-selection {
  background-color: var(--orange);
  color: var(--white);
}

body *::selection {
  background-color: var(--orange);
  color: var(--white);
}

body.lock {
  overflow: hidden;
}

body:has(.header__burger:focus-within) {
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
  display: flex;
  overflow: auto;
}

.main::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.main::-webkit-scrollbar-track {
  background-color: #ddd;
}

.main::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 4px;
  border: 1px solid var(--orange);
}

.main::-webkit-scrollbar-button {
  display: none;
}

.main__inner {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}

.header__logo {
  position: relative;
  z-index: 1;
}

.header__menu {
  flex-grow: 1;
}

.header__burger-wrapper {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.header__burger {
  padding: 8px;
  width: 48px;
  height: 32px;
  position: relative;
  border-radius: 4px;
}

.header__burger::before,
.header__burger::after {
  content: "";
  transition: top 0.3s, bottom 0.3s, transform 0.3s;
}

.header__burger span,
.header__burger::before,
.header__burger::after {
  position: absolute;
  left: 8px;
  width: calc(100% - 16px);
  height: 1px;
  background-color: #000;
}

.header__burger::before {
  top: 8px;
}

.header__burger::after {
  bottom: 8px;
}

.header__burger span {
  top: 50%;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-grow: 1;
}

.header__link {
  position: relative;
  transition: color 0.3s;
  padding: 2px 4px;
  display: block;
  border-radius: 4px;
}

.header__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--orange);
  transition: width 0.3s;
}

.logo {
  flex-shrink: 0;
  width: 140px;
  border-radius: 4px;
}

.burger__field {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  position: sticky;
  left: 0;
  background-color: #fff;
  z-index: 1;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 300px;
  padding: 16px 32px;
  will-change: transform;
}

.sidebar__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar-item__title {
  font-size: 20px;
  font-weight: 500;
}

.sidebar-item__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-item__btn {
  width: 100%;
  min-height: 32px;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 3px;
}

.accordion {
  padding: 32px 0;
}

.accordion__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.accordion__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 600px;
}

.accordion__item {
  display: grid;
  grid-template-rows: 46px 0fr;
  transition: grid-template-rows 0.3s;
  width: 1200px;
}

.accordion__item:has(.accordion__field:checked) {
  grid-template-rows: 46px 1fr;
}

.accordion__item:has(.accordion__field:checked) .accordion__body {
  border-bottom-color: var(--black);
  padding: 8px 16px;
}

.accordion__field {
  opacity: 0;
  height: 1px;
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
}

.accordion__field:checked + .accordion__label {
  background-color: var(--orange);
  border-radius: 4px 4px 0 0;
  color: var(--white);
}

.accordion__field:checked + .accordion__label::after {
  transform: rotate(90deg);
  background-color: var(--white);
}

.accordion__label {
  padding: 8px 16px;
  border: 1px solid var(--black);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  transition: border-radius 0.3s, background-color 0.3s;
}

.accordion__label::after {
  content: "";
  width: 24px;
  height: 24px;
  -webkit-mask: url("../images/sprite.svg#caret") center/cover no-repeat;
          mask: url("../images/sprite.svg#caret") center/cover no-repeat;
  background-color: var(--black);
  transition: transform 0.3s, background-color 0.3s;
}

.accordion__body {
  overflow: hidden;
  padding: 0 16px;
  border: 1px solid var(--black);
  border-top: none;
  border-bottom-color: transparent;
  border-radius: 0 0 4px 4px;
  transition: border-bottom-color 0.3s, padding 0.3s;
}

@media (min-width: 991.98px) {
  .header__burger {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .header__container {
    justify-content: space-between;
    padding-right: 80px;
  }

  .header__menu {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    grid-template-rows: 86px 0fr;
    transition: grid-template-rows 0.3s;
  }

  .header__menu:focus-within {
    grid-template-rows: 86px 1fr;
  }

  .header__menu:focus-within .header__burger {
    pointer-events: none;
  }

  .header__menu:focus-within .header__burger span {
    opacity: 0;
  }

  .header__menu:focus-within .header__burger::before {
    top: 50%;
    transform: rotate(45deg);
  }

  .header__menu:focus-within .header__burger::after {
    bottom: 50%;
    transform: rotate(-45deg);
  }

  .header__burger-wrapper {
    margin-left: auto;
    margin-right: 16px;
  }

  .header__list {
    overflow: hidden;
    flex-direction: column;
    width: 100vw;
    align-items: stretch;
    text-align: center;
    gap: 0;
    z-index: 1;
  }

  .header__item {
    border-bottom: 1px solid #ccc;
  }

  .header__link {
    padding: 8px;
    background-color: #fff;
    border-radius: 0px;
  }

  .header__link::before {
    display: none;
  }
}

@media (any-hover: hover) {
  .header__link:hover {
    color: var(--orange);
  }

  .header__link:hover::before {
    width: 100%;
  }

  .accordion__label:hover {
    background-color: var(--orange);
    color: var(--white);
  }

  .accordion__label:hover::after {
    background-color: var(--white);
  }
}